/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    max-width: 200px;
}

/* Image background */
.bgimg {
    background-image: url('APS1049-ui-bg.png');
    background-size: cover;
    height: auto;
}

/* Main content styles */
main {
    background-image: url('APS1049-ui-bg.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    text-align: center;
    padding: 20px;
    margin: auto;
}

