<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DriveSage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Home.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='css/images/logo.png') }}" alt="Logo">
        </div>
    </header>
    <main>
        <div class="grey-box">
            <h3 class="w3-jumbo"><b>Here is an example of prompt that our tool can solve:</b><br /></h3>
            <p>
                <br />
                <b>
                    "Starting at 1 Austin Terrace, Toronto, ON M5R 1X8, Canada, we have deliveries to make tomorrow afternoon at the following locations:<br />
                    <br />
                    King's College Cir, Toronto, ON, Canada;<br />
                    8 Adelaide St W, Toronto, ON M5H 0A9, Canada;<br />
                    1 Dundas St E, Toronto, ON M5B 2R8, Canada;<br />
                    677 Bloor St W, Toronto, ON M6G 1L3, Canada;<br />
                    186 Spadina Ave. Unit 1A, Toronto, ON M5T 3B2, Canada;<br />
                    318 Wellington St W, Toronto, ON M5V 3T4, Canada;<br />
                    30 Yonge St, Toronto, ON M5E 1X8, Canada;<br />
                    789 Yonge St, Toronto, ON M4W 2G8, Canada;<br />
                    45 Cecil St, ON M5T 1N1, Toronto, Canada;<br />
                    620 Vaughan Rd, York, ON M6C 2R5, Toronto, Canada;<br />
                    954 St Clair Ave W, Toronto, ON M6E 1A1, Toronto, Canada;<br />
                    1720 Eglinton Ave W, York, ON M6E 2H5, Toronto, Canada;<br />
                    2442 Dufferin St, York, ON M6E 3T1, Toronto, Canada;<br />
                    2609 Eglinton Ave W, York, ON M6M 1T3, Toronto, Canada;<br />
                    2679 Eglinton Ave W, York, ON M6M 1T8, Toronto, Canada;<br />
                    1710 Jane St, York, ON M9N 2S4, Toronto, Canada;<br />
                    <br />
                    We only have two delivery trucks. Please assist us in organizing the route to minimize the total driving time."
                </b>
            </p>
        </div>

        <form class="form" action="/submit" method="POST">
            <label for="prompttext"></label>
            <textarea id="prompttext" name="prompttext" placeholder="Enter your prompt here..."></textarea>
            <div class="btn-grp">
                <button type="button" class="btn-more-info"><b>More Info</b></button>
                <button type="submit" class="btn-submit"><b>Submit</b></button>
            </div>
        </form>

        <footer>
            <h4>APS1049@DriveSage</h4>
        </footer>
        
    </main>
</body>
</html>
