<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RouteMap</title>
    <link rel="stylesheet" href="HomeCss.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
    <header>
        <div class="logo">
            <img src="logo.png" alt="Logo">
        </div>
    </header>

    <main>
        <h1>Delivery Locations</h1>
        <div id="map" style="height: 600px;"></div>
    </main>


    <script async defer src="https://maps.googleapis.com/maps/api/js?key={GOOGLE_API_KEY}&callback=initMap"></script>
    <script>
        function initMap() {{
          var map = new google.maps.Map(document.getElementById('map'), {{
            zoom: 12,
            center: {map_center},
            styles: [
              {{
                featureType: 'poi',
                elementType: 'labels',
                stylers: [{{
                  visibility: 'off'
                }}]
              }},
              {{
                featureType: 'transit',
                elementType: 'labels',
                stylers: [{{
                  visibility: 'off'
                }}]
              }}
            ]
          }});

          var warehouseLocation = new google.maps.Marker({{
            map: map,
            position: {warehouse_location},
            title: 'Warehouse',
            icon: 'http://maps.gstatic.com/mapfiles/ms2/micons/homegardenbusiness.png'
          }});

          var deliveryAddresses = {delivery_addresses};

          deliveryAddresses.forEach(function(address) {{
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({{'address': address}}, function(results, status) {{
              if (status === 'OK') {{
                var marker = new google.maps.Marker({{
                  map: map,
                  position: results[0].geometry.location,
                  title: address
                }});
              }} else {{
                console.error('Geocode was not successful for the following reason: ' + status);
              }}
            }});
          }});
        }}
    </script>

    <footer>
        <h4>APS1049@DriveSage</h4>
    </footer>

</body>
</html>